.galleryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.8em;
  padding: 1em;
  max-width: 1440px;
  margin: 0 auto;
}

.galleryItem {
  flex-basis: calc((100% - 5em) / 3);
  border-radius: 1em;
  overflow: hidden;
}
